@* Comments:
04.09.14 - TR - Added jquery.validate
04.29.13 - TR - Only admin can delete
01.29.13 - TR - added loading logo
12.11.12 - TR - added partial views for edit/detail
11.27.12 - TR - changed labels to html helper
10.24.12 - TR - Added ViewData reference for EVENT_TYPE type and EVENT_STATUS status
10.12.12 - TR - Removed "main" div and only have it in _Layout
10.10.12 - TR - Added "main" div for css formatting
10.01.12 - TR - Created

*@

@*
/* Authors:
 *      Tonia Roddick (troddick@usgs.gov)
 * Copyright:
 *      2012 USGS - WiM
 * Purpose:
 *      Display details of an EVENT and link to it's parts 
 */
 *@
 
@using STNServices;
@using STNWeb.Assets.Resources;

@model STNServices.EVENT
     
@{
    ViewBag.Title = "Event Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Assets/Scripts/jquery-1.8.3.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Assets/Scripts/jquery-ui-1.10.4.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Assets/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Assets/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Assets/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<div id="loading"><div id="loadingcontent"><p id="loadingspinner" style=""><img src="@Url.Content("~/Assets/Images/loading1.gif")"  /></p></div></div>

    <div id="dataTitle">
        <div class="title">
        @Html.ActionLink("All Events", "Index", "Events", null, new { onclick = "loading();" })
        | Event: @Model.EVENT_NAME&nbsp;&nbsp;</div>
        
        @if (ViewData["Role"] == "Admin")
        {
            <div>
                @Html.ActionLink("Delete", "EventDelete", new { id = Model.EVENT_ID }, new { onclick = "return confirm('Are you sure you want to delete event " + Model.EVENT_NAME + "?');", @class = "STNButton" })
            </div>
        }
    </div>
    <br clear="all" />

    <hr class="headerUnderline" />

    <div id="content">
        @if (ViewData["Role"] == "Admin")
        {
            using (Ajax.BeginForm("EventEditPV", "Events", new { id = Model.EVENT_ID }, new AjaxOptions() { UpdateTargetId = "content", HttpMethod = "GET", OnSuccess = "edit_successActions" }, new { @onclick = "loading();" }))
            {
                <div>
                    <input type="submit" class="STNButton editIcon" value="Edit Event"/>
                </div>
                <br clear="all" /> 
            }
        }

@* ------------------------ Partial view (Details and Edit) will go here -------------------*@
    
        @{ Html.RenderAction("EventDetailsPV", "Events", Model.EVENT_ID);} 
    </div>
@*------------------------------------ End Partial views -----------------------------------*@


<style type="text/css">
        #eventEditForm label.error {
        margin-left: 10px;
        width: auto;
        color: Red;
    } 
</style>

<script type="text/javascript">
    $(function () {
        //datepicker 
        $('input').filter('.datepicker').datepicker({
            changeMonth: true,
            yearRange: '1965:2030',
            changeYear: true
        });
    });

    function cancelClick() {
        $("#loading").fadeIn();
        window.location.href = '@Url.Action("EventDetails", "Events", new { id = Model.EVENT_ID })'
    };

    function loading() {
        $("#loading").fadeIn();
    };

    $().ready(function () {
        $("#loading").fadeOut();
        $("#eventEditForm").validate();
    });

    function edit_successActions() {
        $("#loading").fadeOut();
        $("#eventEditForm").removeData("validator");
        $("#eventEditForm").removeData("unobtrusiveValidation");    
        
        //validate form on and submit
        $("#eventEditForm").validate({
            rules: {
                EVENT_NAME: "required",
                EVENT_DESCRIPTION: "required",
                EVENT_START_DATE: "required",
                EVENT_TYPE_ID: "required",
                EVENT_STATUS_ID: "required",
                EVENT_COORDINATOR: "required"
            },
            messages: {
                EVENT_NAME: "Required",
                EVENT_DESCRIPTION: "Required",
                EVENT_START_DATE: "Required",
                EVENT_TYPE_ID: "Required",
                EVENT_STATUS_ID: "Required",
                EVENT_COORDINATOR: "Required"
            },

            submitHandler: function (form) {
                $("#loading").fadeIn();
                $.ajax({
                    url: form.action,
                    type: form.method,
                    data: $(form).serialize(),
                    success: function (response) {
                        window.location.href = '@Url.Action("EventDetails", new { id = Model.EVENT_ID})'
                    }
                });
            }
        });
    }  
</script>