@*
Comments:
09.04.14 - TR - Created
*@

@*
/* Authors:
*      Tonia Roddick (troddick@usgs.gov)
* Copyright:
*      2012 USGS - WiM
* Purpose:
*      Edit OP Quality
*/
*@

@using STNServices;

@model STNServices.OP_QUALITY

@{
    ViewBag.Title = "Edit OP Qualities";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Assets/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Assets/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<div id="loading"><div id="loadingcontent"><p id="loadingspinner" style=""><img src="@Url.Content("~/Assets/Images/loading1.gif")"  /></p></div></div>


    <div id="dataTitle">
        <div class="title">Edit OP Quality</div>
    </div>
    <br clear="all" />
    <hr class="headerUnderline" />

    @using (Ajax.BeginForm("OPQualityEdit", "Lookups", new { id = Model.OP_QUALITY_ID }, new AjaxOptions() { HttpMethod = "POST" }, new { @id = "EditOPQualForm" }))
    {
        <div class="fiftyPercColumn">   
            <input type="hidden" name="OP_QUALITY_ID" value="@Model.OP_QUALITY_ID" />
                  
            <div class="ui-grid-a">
                <div class="ui-block-a"><span class="required">OP Quality:</span></div>
                <div class="ui-block-b">
                    <input type="text" class="stnTextInput required ui-shadow-inset" name="QUALITY" data-mini="true" value="@Model.QUALITY" />
                </div>
            </div>
    
        </div>
    
         <div id="formSubmitDiv" class="formSection">
            <div class="leftSideSubmit">
                <div class="cancelDiv"><div class="lightButtonBorder"><input id="resetButton" type="reset" class="cancel" value="Cancel" onclick="cancelClick();" /></div></div>
                <div class="submitDiv"><div class="darkButtonBorder"><input type="submit" class="submit" value="Submit" /></div></div>
            </div>
    
        </div>
    
    }
<script type="text/javascript">
    function cancelClick() {
        $("#loading").fadeIn();
        window.location.href = '@Url.Action("Index", "Lookups")' 
    };

    function loading() {
        $("#loading").fadeIn();
    }

    //doc.ready 
    $(document).ready(function () {
        $("#EditOPQualForm").validate();
        $("#EditOPQualForm").removeData("validator");
        $("#EditOPQualForm").removeData("unobtrusiveValidation");

        $("#EditOPQualForm").validate({
            rules: {
                'QUALITY': "required"
            },
            messages: {
                'QUALITY': "Required"
            },
            submitHandler: function (form) {
                $("#loading").fadeIn();
                form.submit();
            }
        });
    });
</script>

<style type="text/css">
    #EditOPQualForm label.error {      
        width: auto;
        display: block;
        color: Red;
    }    
</style>