@* Comments:
04.25.14 - TR - added rp measurements
04.16.14 - TR - Added validation
04.16.13 - TR - Created 
*@

@*
/* Authors:
 *      Tonia Roddick (troddick@usgs.gov)
 * Copyright:
 *      2012 USGS - WiM
 * Purpose:
 *      Edit an Retrieved/Lost Instrument (Partial View)
 */
 *@
@using System.Configuration;
@using STNServices;
@using STNWeb.Assets.Resources;
@using STNWeb.Models;

@model STNWeb.Models.InstrumentModel

<script src="@Url.Content("~/Assets/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>


<script type="text/javascript">
    $(document).ready(function () {
        $("#loading").fadeOut();
    });        
</script>
@* This could be a Retrieved Edit or a Lost Edit*@

@{ 
    decimal? collectionID = Model.Instr.INST_COLLECTION_ID;
    INSTRUMENT_STATUS RetrInstrStat = Model.RetrInstrStatus;
    INSTRUMENT_STATUS LInstrStat = Model.LostInstrStatus;
    
}

@using (Ajax.BeginForm("RetInstrEdit", "Instruments", new { id = RetrInstrStat != null ? RetrInstrStat.INSTRUMENT_STATUS_ID : LInstrStat.INSTRUMENT_STATUS_ID }, new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "retrieve" }, new { @id = "RetSensorEditForm" }))
{
    <input type="hidden" id="Instr.INSTRUMENT_ID" name="Instr.INSTRUMENT_ID" value='@Model.Instr.INSTRUMENT_ID' />
    <input type="hidden" id="Instr.SENSOR_TYPE_ID" name="Instr.SENSOR_TYPE_ID" value="@Model.Instr.SENSOR_TYPE_ID" />
    <input type="hidden" id="Instr.DEPLOYMENT_TYPE_ID" name="Instr.DEPLOYMENT_TYPE_ID" value='@Model.Instr.DEPLOYMENT_TYPE_ID' />
    <input type="hidden" id="Instr.LOCATION_DESCRIPTION" name="Instr.LOCATION_DESCRIPTION" value="@Model.Instr.LOCATION_DESCRIPTION" />        
    <input type="hidden" id="Instr.HOUSING_TYPE_ID" name="Instr.HOUSING_TYPE_ID" value='@Model.Instr.HOUSING_TYPE_ID' /> 
    <input type="hidden" id="Instr.HOUSING_SERIAL_NUMBER" name="Instr.HOUSING_SERIAL_NUMBER" value='@Model.Instr.HOUSING_SERIAL_NUMBER' />
    <input type="hidden" id="Instr.SERIAL_NUMBER" name="Instr.SERIAL_NUMBER" value='@Model.Instr.SERIAL_NUMBER' />
    <input type="hidden" id="Instr.SENSOR_BRAND_ID" name="Instr.SENSOR_BRAND_ID" value='@Model.Instr.SENSOR_BRAND_ID' />
    <input type="hidden" id="Instr.VENTED" name="Instr.VENTED" value='@Model.Instr.VENTED' />
    <input type="hidden" id="Instr.INTERVAL" name="Instr.INTERVAL" value="@Model.Instr.INTERVAL" />
    <input type="hidden" id="Instr.SITE_ID" name="Instr.SITE_ID" value="@Model.Instr.SITE_ID" />
    <input type="hidden" id="Instr.EVENT_ID" name="Instr.EVENT_ID" value="@Model.Instr.EVENT_ID" />
    
    if (RetrInstrStat != null)
    {
        <input type="hidden" name="RetrInstrStatus.INSTRUMENT_STATUS_ID" value="@RetrInstrStat.INSTRUMENT_STATUS_ID" />
        <input type="hidden" id="RetrInstrStatus.STATUS_TYPE_ID" name="RetrInstrStatus.STATUS_TYPE_ID" value="@RetrInstrStat.STATUS_TYPE_ID" />
        <input type="hidden" id="RetrInstrStatus.INSTRUMENT_ID" name="RetrInstrStatus.INSTRUMENT_ID" value="@RetrInstrStat.INSTRUMENT_ID" />
        <input type="hidden" id="RetrInstrStatus.COLLECTION_TEAM_ID" name="RetrInstrStatus.COLLECTION_TEAM_ID" value="@RetrInstrStat.COLLECTION_TEAM_ID" />
    }
    else
    {
        <input type="hidden" name="LostInstrStatus.INSTRUMENT_STATUS_ID" value="@LInstrStat.INSTRUMENT_STATUS_ID" />
        <input type="hidden" id="LostInstrStatus.STATUS_TYPE_ID" name="LostInstrStatus.STATUS_TYPE_ID" value="@LInstrStat.STATUS_TYPE_ID" />
        <input type="hidden" id="LostInstrStatus.INSTRUMENT_ID" name="LostInstrStatus.INSTRUMENT_ID" value="@LInstrStat.INSTRUMENT_ID" />
        <input type="hidden" id="LostInstrStatus.COLLECTION_TEAM_ID" name="LostInstrStatus.COLLECTION_TEAM_ID" value="@LInstrStat.COLLECTION_TEAM_ID" />
    }   
    <br clear="all" />
        
    <div class="fiftyPercColumn">

        <h2 style="margin-top:0">Retrieved Sensor Edit</h2>
            
        <div data-role="fieldcontain">
            <span class="bold ui-label-a">@Html.Label(InstrumentsStrings.Status_Label)</span>
            <label class="margin">@ViewData["StatType"]</label>
        </div>

        <div data-role="fieldcontain">
            <span class="bold ui-label-a required">@Html.Label(InstrumentsStrings.Conditions_Label)</span>
            <select id="ConditionsDD" class="stnTextInput ui-shadow-inset required selectmargin" name="Instr.INST_COLLECTION_ID" data-native-menu="false" data-mini="true">
			    <option value=""></option>
                @foreach (INSTR_COLLECTION_CONDITIONS cond in ViewData["Conditions"] as List<INSTR_COLLECTION_CONDITIONS>)
                {
                    <option @( (cond.ID == collectionID) ? "selected" : "") value="@cond.ID">@cond.CONDITION</option> 
                }
            </select><br />	
        </div>

        @if (RetrInstrStat != null)
        {    
            <div data-role="fieldcontain">
                <span class="bold ui-label-a">@Html.Label(InstrumentsStrings.RetrievalNote_Label)</span>
                <textarea rows="4" cols="30" id="notes" class="stnTextInput ui-shadow-inset margin" name="RetrInstrStatus.NOTES" data-mini="true">@RetrInstrStat.NOTES</textarea>
            </div>   
                
            <div data-role="fieldcontain">
                <span class="bold ui-label-a required">@Html.Label(InstrumentsStrings.RecoveryDate_Label)</span>
                <input type="text" class="stnTextInput ui-shadow-inset margin datetimepicker required" name="RetrInstrStatus.TIME_STAMP" data-mini="true" value="@RetrInstrStat.TIME_STAMP" />
            </div>
                
            <div data-role="fieldcontain">
                <span class="bold ui-label-a">Time Zone:</span>
                <select id="timeZoneDD" class="stnTextInput ui-shadow-inset selectmargin" name="RetrInstrStatus.TIME_ZONE" data-native-menu="false" data-mini="true">
			        <option value="">Choose Time Zone</option> 
                    @foreach (string tz in ViewData["TimeZones"] as List<string>)
                    {
                        <option @( (tz == Model.RetrInstrStatus.TIME_ZONE) ? "selected" : "") value='@tz'>@tz</option>
                    }
                </select>
            </div>  
        }
        else
        {    
            <div data-role="fieldcontain">
                <span class="bold ui-label-a">@Html.Label(InstrumentsStrings.RetrievalNote_Label)</span>
                <textarea rows="4" cols="30" id="notes" class="stnTextInput ui-shadow-inset margin" name="LostInstrStatus.NOTES" data-mini="true">@LInstrStat.NOTES</textarea>
            </div>      
                
            <div data-role="fieldcontain">
                <span class="bold ui-label-a">@Html.Label(InstrumentsStrings.LostDate_Label)</span>
                <input type="text" class="stnTextInput ui-shadow-inset datetimepicker margin" name="LostInstrStatus.TIME_STAMP" data-mini="true" value="@LInstrStat.TIME_STAMP" />
            </div> 
                
            <div data-role="fieldcontain">
                <span class="bold ui-label-a">Time Zone:</span>
                <select id="timeZoneDD" class="stnTextInput ui-shadow-inset selectmargin" name="LostInstrStatus.TIME_ZONE" data-native-menu="false" data-mini="true">
			        <option value="">Choose Time Zone</option> 
                    @foreach (string tz in ViewData["TimeZones"] as List<string>)
                    {
                        <option @( (tz == Model.LostInstrStatus.TIME_ZONE) ? "selected" : "") value='@tz'>@tz</option>
                    }
                </select>
            </div>  
        }
                                      
        <div data-role="fieldcontain" style="margin-bottom:10px">
            <span class="bold ui-label-a">@Html.Label(globalStrings.CollectTeam_Label)</span>
            <label>@ViewData["teamName"]</label>
        </div>
            
        <div data-role="fieldcontain">
            <span class="bold ui-label-a" style="margin-bottom:5px">Tape Down Information:</span>        
            <div id="ExistingOPTableR" style="display:inline">
                @if (ViewData.ContainsKey("StatusOPmeasurements"))
                {
                    OPMeasModel thisOPMeasure = ViewData["StatusOPmeasurements"] as OPMeasModel;
                    
                    <table id="opTableR">
                        <thead>
                            <tr>
                                <th style="width:9%">Check To Remove</th>                                
                                <th style="text-align:left;padding-left:10px">OP</th>
                                <th style="width:12%;">Type</th>
                                <th style="width:13%">From OP</th>
                                <th style="width:13%">Hanging Length</th>
                                <th style="width:13%">Water Surface</th>
                                <th style="width:13%">Ground Surface</th>
                            </tr>
                        </thead>
                        <tbody>
                            <input type="hidden" name="OPMeas.OP_MEASUREMENTS_ID" value="@thisOPMeasure.OPMeasure_ID" />
                            <input type="hidden" name="OPMeas.OBJECTIVE_POINT_ID" value="@thisOPMeasure.OP_ID" />
                            <input type="hidden" name="OPMeas.INSTRUMENT_STATUS_ID" value="@thisOPMeasure.InstStat_ID" />
                            <tr>
                                <td style="text-align:center;"><input type="checkbox" id="removeThis" value="1" name="RemoveThis" /></td>
                                <td style="padding-left:10px">@thisOPMeasure.ObjPointName</td>
                                @if (thisOPMeasure.Type == "Foreshot")
                                {
                                    <td><div><input type="radio" checked="checked" name="OPMeas.TYPE" value="Foreshot" />Foreshot</div><div><input type="radio" name="OPMeas.TYPE" value="Elevation" />Elevation</div></td>
                                }
                                else
                                {
                                    <td><div><input type="radio" name="OPMeas.TYPE" value="Foreshot" />Foreshot</div><div><input type="radio" checked="checked" name="OPMeas.TYPE" value="Elevation" />Elevation</div></td>
                                }
                                <td><input type="text" style="width:85%" class="stnTextInput ui-shadow-inset" onkeypress="return isNegNumberKey(event)" name="OPMeas.FROM_RP" value="@thisOPMeasure.FromRP" /></td>
                                <td><input type="text" style="width:85%" class="stnTextInput ui-shadow-inset" onkeypress="return isNegNumberKey(event)" name="OPMeas.HANGING_LENGTH" value="@thisOPMeasure.HangingLength" /></td>
                                <td><input type="text" style="width:85%" class="stnTextInput ui-shadow-inset" onkeypress="return isNegNumberKey(event)" name="OPMeas.WATER_SURFACE" value="@thisOPMeasure.WaterSurface" /></td>
                                <td><input type="text" style="width:85%" class="stnTextInput ui-shadow-inset" onkeypress="return isNegNumberKey(event)" name="OPMeas.GROUND_SURFACE" value="@thisOPMeasure.GroundSurface" /></td>
                            </tr>
                        </tbody>
                    </table>
       
                }
                else
                {
                    <label class="inline" style="margin-bottom:10px">No tape down values were added for this deployment.
                    <br />
                    <a class="STNButton" style="padding:2px;display:inline-block;margin-top:5px" onclick="showDropdownR();">Add Tape Down</a>
                    </label>
                }
            </div>
        </div>
       
    </div> @* end fiftyPercentColumn *@
        
    <div id="TapeDownBoxR" style="float:left;width:45%;margin-left:14px;margin-bottom:18px;display:none">  
        <div class="subSection softHeader" style="width:90%;min-height:120px;overflow:visible">
	        <div  class="boxTitle">Tape Down Information</div>
            <br />

            <div class="ui-grid-a">
                <div class="ui-block-a">Site Objective Point(s):</div>
                <div class="ui-block-b">
                        @if (ViewData.ContainsKey("SiteOPs"))
                        {
                            <select id="SiteOPsDDR" class="stnSelectInput ui-shadow-inset" style="width:215px !important" name="OPMeas.OBJECTIVE_POINT_ID" data-native-menu="false" data-mini="true">
                                <option value='0'></option>
                                @foreach (OBJECTIVE_POINT anOP in ViewData["SiteOPs"] as List<OBJECTIVE_POINT>)
                                {
                                <option value='@anOP.OBJECTIVE_POINT_ID'>@anOP.NAME</option> 
                                }
                            </select>
                        }
                        else
                        {
                        <div>No Objective Points were added to this Site</div>
                        }
                
                    <br />	
                </div>
            </div>
            <div id="opMeasurementR" style="display:none">
                <table id="opTableR" style="width:100%">
                    <thead>
                        <tr><th>OP</th><th style="width:16%">Type</th><th style="width:15%">From OP</th><th style="width:15%">Hanging Length</th><th style="width:15%">Water Surface</th><th style="width:15%">Ground Surface</th></tr>
                    </thead>
                    <tbody>  </tbody>
                </table>
            </div>
        </div>        
    </div> //end "TapeDownBoxR"
    
    <br /> 
      
    <div id="formSubmitDiv" class="formSection">
        <div class="leftSideSubmit">
            <div class="cancelDiv"><div class="lightButtonBorder"><input id="resetButton" type="reset" class="cancel" value="Cancel" onclick="cancelClick();" /></div></div>
            <div class="submitDiv"><div class="darkButtonBorder"><input type="submit" class="submit" value="Save" /></div></div>
        </div>
    </div>      
} @*end using html*@


<style type="text/css">
    #opTableR 
    {
        border-collapse:collapse;
        width:97%;
        margin-bottom:10px;
    }
    #opTableR th
    {
        border: #d9d9d9 solid 1px;
        padding: 4px;
    }
    #opTableR td
    {
        border: #d9d9d9 solid 1px;
        padding-left:5px;
        padding-right:5px;
    }
</style>

<script type="text/javascript">
    $().ready(function () {
        $("#loading").fadeOut();

    });
    
    //want to add a rp measurement
    function showDropdownR() {
        $("#TapeDownBoxR").css("display", "block");
    }

    $("#SiteOPsDDR").change(function () {
        var siteOPs = $("#SiteOPsDDR").val();
        var textOP = $("#SiteOPsDDR option:selected").text();

        if (siteOPs >= 1) {
            //add a row to the table
            $(opMeasurementR).css("display", "inline-table");
            $("#opTableR tbody").empty();
            $("#opTableR tbody").append('<tr id="0">' +
              '<td>' + textOP + '<input type="hidden" name="OPMeas.OBJECTIVE_POINT_ID" value="' + siteOPs + '" /></td>' +
              '<td><div><input type="radio" name="OPMeas.TYPE" value="Foreshot" />Foreshot</div><div><input type="radio" name="OPMeas.TYPE" value="Elevation" />Elevation</div></td>' +
              '<td><input type="text" style="width:80%" class="stnTextInput ui-shadow-inset" onkeypress="return isNegNumberKey(event)" class="stnTextInput ui-shadow-inset" name="OPMeas.FROM_RP" /></td>' +
              '<td><input type="text" style="width:80%" class="stnTextInput ui-shadow-inset" onkeypress="return isNegNumberKey(event)" class="stnTextInput ui-shadow-inset" name="OPMeas.HANGING_LENGTH" /></td>' +
              '<td><input type="text" style="width:80%" class="stnTextInput ui-shadow-inset" onkeypress="return isNegNumberKey(event)" class="stnTextInput ui-shadow-inset" name="OPMeas.WATER_SURFACE" /></td>' +
              '<td><input type="text" style="width:80%" class="stnTextInput ui-shadow-inset" onkeypress="return isNegNumberKey(event)" class="stnTextInput ui-shadow-inset" name="OPMeas.GROUND_SURFACE" /></td>' +
            '</tr>');
        }
        else {
            $("#opTableR tbody tr").remove();
            $("#opMeasurementR").css("display", "none");
        }
    });            

    function loading() {
        $("#loading").fadeIn();
    }

    function cancelClick() {
        $("#loading").fadeIn();
        window.location.href = '@Url.Action("Details", "Instruments", new { id = Model.Instr.INSTRUMENT_ID })'
    };

    //number formatter (any number and decimal place)
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }

    function isNegNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode > 31 && (charCode < 45 || charCode > 57)) {
            return false;
        }
        return true;
    }

</script>

