@* Comments: 
04.14.14 - TR - validate
12.12.12 - TR - Created 
*@
@*
/* Authors:
 *      Tonia Roddick (troddick@usgs.gov)
  * Copyright:
 *      2012 USGS - WiM
 * Purpose:
 *      Partial view for create when file type PHOTO is chosen 
 */
 *@

@using STNServices;
@using STNWeb.Assets.Resources;
 
@model STNWeb.Models.FileSourceModel
           


@{ 
    MEMBER aMember = ViewData["Member"] as MEMBER;
    string memberAgency = ViewData["MemberAgency"] as string;
    int siteId = Convert.ToInt32(ViewData["SiteID"]);
    
    }

    <div class="ui-grid-a">
        <div data-role="fieldcontain">
            <div class="ui-block-a">@Html.Label(FileStrings.FileURL_Label)</div>
            <div class="ui-block-b"><input type="text" class="stnTextInput ui-shadow-inset" name="FSM_File.FILE_URL" data-mini="true" /></div>
        </div>
    </div>

    <div class="ui-grid-a">
        <div data-role="fieldcontain">
            <div class="ui-block-a"><span class="required">@Html.Label(FileStrings.Photographer_Label)</span></div>
            <div class="ui-block-b"><input type="text" id="photographer" class="required stnTextInput ui-shadow-inset" name="FSM_Source.SOURCE_NAME" value='@aMember.FNAME @aMember.LNAME' /></div>
        </div>
    </div>

    <div class="ui-grid-a">
        <div data-role="fieldcontain">
            <div class="ui-block-a"><span class="required">@Html.Label(FileStrings.Agency_Label)</span></div>
            <div class="ui-block-b">
                <select id="agencyDD" class="required stnSelectInput ui-shadow-inset" name="FSM_Source.AGENCY_ID" data-native-menu="false" data-mini="true">
                    @foreach (AGENCY ags in ViewData["SourceAgency"] as List<AGENCY>)
                    {
                        <option @( (ags.AGENCY_ID == aMember.AGENCY_ID) ? "selected" : "") value='@ags.AGENCY_ID'>@ags.AGENCY_NAME</option>     
                    }
                </select>
                <br />
            </div>
        </div>
    </div>

    <div class="ui-grid-a">
        <div data-role="fieldcontain">
            <div class="ui-block-a"><span class="required">@Html.Label(FileStrings.DateTaken_Label)</span></div>
            <div class="ui-block-b"><input type="text" id="dateTaken" class="required datepicker stnTextInput ui-shadow-inset" name="FSM_Source.SOURCE_DATE" data-mini="true" value="@DateTime.Now.ToShortDateString()"/></div>
        </div>
    </div>

    <div class="ui-grid-a">
        <div data-role="fieldcontain">
            <div class="ui-block-a"><span class="required">@Html.Label(FileStrings.DateUploaded_Label)</span></div>
            <div class="ui-block-b"><input type="text" class="required stnTextInput datepicker ui-shadow-inset" name="FSM_File.FILE_DATE" data-mini="true" value="@DateTime.Now.ToShortDateString()"/></div>
    </div>
         
    <div class="ui-grid-a">
        <div data-role="fieldcontain">
            <div class="ui-block-a"><span class="required">@Html.Label(FileStrings.FileDesc_Label)</span></div> 
            <div class="ui-block-b"><textarea rows="4" cols="30" id="FileDesc" class="required stnTextInput ui-shadow-inset" name="FSM_File.DESCRIPTION" data-mini="true"></textarea></div> 
        </div>
    </div>
         
    <div class="ui-grid-a">
        <div data-role="fieldcontain">
            <div class="ui-block-a">@Html.Label(FileStrings.FilePhotoDir_Label)</div>
            <div class="ui-block-b"><input type="text" class="stnTextInput ui-shadow-inset" name="FSM_File.PHOTO_DIRECTION" data-mini="true" /></div>
        </div>
    </div>

    <div class="ui-grid-a">
        <div data-role="fieldcontain">
            <div class="ui-block-a">@Html.Label(FileStrings.PhotoLat_Label)</div>
            <div class="ui-block-b"><input type="text" class="stnTextInput ui-shadow-inset" onkeypress="return isNumberKey(event)" name="FSM_File.LATITUDE_DD" data-mini="true" /></div>
        </div>
    </div>

    <div class="ui-grid-a">
        <div data-role="fieldcontain">
            <div class="ui-block-a">@Html.Label(FileStrings.PhotoLong_Label)</div>
            <div class="ui-block-b"><input type="text" id="longitude" class="stnTextInput ui-shadow-inset" name="FSM_File.LONGITUDE_DD" data-mini="true" /></div>
        </div>
    </div>

    <div class="ui-grid-a">
        <div data-role="fieldcontain">
            <div class="ui-block-a"><a id="PreviewCaption" class="STNButton narrow">Preview Caption</a></div>
            <div id="showCaption" class="ui-block-b hidden"></div>
        </div>
    </div>

    
    <script type="text/javascript">
        $(document).ready(function () {
            $("#loading").fadeOut();

            $(function () {
                //datepicker 
                $('input').filter('.datepicker').datepicker({
                    changeMonth: true,
                    yearRange: '1965:2030',
                    changeYear: true,
                    onClose: Validate()
                });
            });

            
           // $("#longitude").mask("-999.?99999");
        });

        //number formatter (any number and decimal place)
        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
                return false;

            return true;
        }

        function Validate() {
            $('input[name="FSM_File.FILE_DATE"]').valid();
            $('input[name="FSM_Source.SOURCE_DATE"]').valid();
        }

        $("#PreviewCaption").click(function () {
            //if has class hidden, show it, else hide it
            $("loading").fadeIn();
            if ($("#showCaption").hasClass("hidden")) {
                $("#showCaption").removeClass("hidden");
                var fileDesc = $("#FileDesc").val();
                //var memberName = '@aMember.FNAME' + " " + '@aMember.LNAME';
                var memberName = $("#photographer").val();
                //var memberAgency = '@memberAgency';
                var memberAgency = $("#agencyDD option:selected").text();
                var dateTaken = $("#dateTaken").val();

                $.ajax({
                    url: '@Url.Action("CaptionCreator", "Files")',
                    data: { filedesc: fileDesc, memberName: memberName, memberAgency: memberAgency, dateTaken: dateTaken, siteId: '@siteId' },
                    success: function (response) {
                        $("#showCaption").html(response)
                    }
                });
                $("#showCaption").show();
            }
            else {
                $("#showCaption").addClass("hidden");
                $("#showCaption").hide();
            }
        });
    </script>