@* Comments: 
05.14.14 - TR - changed from RP to OP
04.11.14 - TR - added validation
11.28.12 -TR - labels converted to html.Labels
10.19.12 - TR - Created
*@

@*
/* Authors:
 *      Tonia Roddick (troddick@usgs.gov)
 * Copyright:
 *      2012 USGS - WiM
 * Purpose:
 *      Details of a Objective Point 
 */
 *@
@using STNServices;
@using STNWeb.Assets.Resources;

@model STNServices.OBJECTIVE_POINT

@{
    ViewBag.Title = "Objective Point";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Assets/Scripts/jquery-1.8.3.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Assets/Scripts/jquery-ui-1.10.4.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Assets/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Assets/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Assets/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Assets/Scripts/jquery.maskedinput.min.js")" type="text/javascript"></script>

<div id="loading"><div id="loadingcontent"><p id="loadingspinner" style=""><img src="@Url.Content("~/Assets/Images/loading1.gif")"  /></p></div></div>

<div id="dataTitle">
    <div class="title">
        @Html.ActionLink(String.Format("Site: {0} ", ViewData["SiteNo"]), "Details", "Sites", new { id = Model.SITE_ID }, new { onclick = "loading()" })
        | OP: @Model.NAME &nbsp;&nbsp;
    </div>
    
    <div style="float:left;width:38%">
        @if (ViewData.ContainsKey("OPMeas_Linked"))
        {
            <div style="width:77%">This Objective Point cannot be deleted until the tape downs are removed from the sensors associated to it.</div>
        }
        else
        {
            @Html.ActionLink("Delete", "ObjPointDelete", new { id = Model.OBJECTIVE_POINT_ID, siteID = Model.SITE_ID }, new { onclick = "return confirm('Are you sure you want to delete Objective Point " + Model.NAME + "?');", @class = "STNButton" })
        }
    </div>    
    
     <div>&nbsp;&nbsp;
        @Html.ActionLink("Go to this site on the map", "ZoomToOnMap", "Home", new { id = Model.SITE_ID }, new { @class = "STNButton" })
     </div>
</div>
<br clear="all" />

<hr class="headerUnderline" />

@*-----------------Partial view -----------------*@
<div id="content">
   @{ Html.RenderAction("ObjPointDetailsPV", "ObjPoints", Model.OBJECTIVE_POINT_ID); }
</div>
@*----------------End Partial View -------------*@

<div class="fiftyPercColumn">        

@* -------------- Info Box holding Objective Point Files ---------------*@
    
    @{ Html.RenderAction("OPFileInfoBox", "Files", Model.OBJECTIVE_POINT_ID);}
    
@* -------------- End Info Box holding Objective Point Files -------------*@
    <br />
</div>
<br clear="all" />
<style type="text/css">
    #ObjPtEditForm label.error {
        margin-left: 10px;
        width: auto;
        display: inline;
        color: Red;
    } 
</style>


<script type="text/javascript">
    $().ready(function () {
        $("#loading").fadeOut();
        $("#ObjPtEditForm").validate();
    });

    function edit_successActions() {
       $("#loading").fadeOut();
        $("#ObjPtEditForm").removeData("validator");
        $("#ObjPtEditForm").removeData("unobtrusiveValidation");    
        
        //validate form on and submit
        $("#ObjPtEditForm").validate({    
            rules: {
                NAME: "required",
                DESCRIPTION: "required",
                DATE_FOUND: "required"
            },
            messages: {
                NAME: "Required",
                DESCRIPTION: "Required",
                DATE_FOUND: "Required"
            }
        });
    }  


    function cancelClick() {
        $("#loading").fadeIn();
        window.location.href = '@Url.Action("ObjPointDetails", "ObjPoints", new { id = Model.OBJECTIVE_POINT_ID })' 
    };
</script>
