@* Comments:
04.02.14 - TR - Created 
*@

@*
/* Authors:
*      Tonia Roddick (troddick@usgs.gov)
* Copyright:
*      2012 USGS - WiM
* Purpose:
*      Change Password (Partial View)
*/
*@
@using STNServices;
@using STNWeb.Assets.Resources;

@model STNServices.MEMBER


@using (Ajax.BeginForm("MemberPassword", "Members", new { id = Model.MEMBER_ID }, new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "content" }, new { @id = "memberPassForm" }))
{
    <input type="hidden" name="MEMBER_ID" value="@Model.MEMBER_ID" />
        
        <div>
        
            <div data-role="fieldcontain" style="margin-bottom:12px">
                <span class="bold ui-label-a" style="width:15%">@Html.Label(MemberStrings.UserName_Label)</span>
                <label class="margin" style="width:24%">@Model.USERNAME</label>
                <input type="hidden" name="USERNAME" value="@Model.USERNAME" />
            </div>
          
            <div data-role="fieldcontain">
                <span style="font-size:large;margin-bottom:14px;margin-top:14px;width:8em;float:left;clear:left">Password<a style="margin-left:5px" id="passwordButton"><img style="height:18px" src="@Url.Content("~/Assets/Images/questionMark.png")" alt="Password Requirements" /></a></span>
            </div>
                 
            <div id="PasswordList" style="visibility:hidden;margin-left:8em;margin-top:25px;margin-bottom:25px;color:#FF3333">
                <ul>
                    <li>Passwords must be at least 8 characters long.</li>
                    <li>Passwords must contain at least 1 upper case, 1 lower case, and 1 numeric.</li>
                    <li>Passwords may contain any of these special characters only: "_", "$", "#"</li>
                </ul>
            </div>

            <div data-role="fieldcontain">
                <span class="required bold ui-label-a" style="width:15%">@Html.Label(MemberStrings.NewPassword_Label)</span>
                <input type="password" class="required margin stnTextInput ui-shadow-inset" style="width:25%" id="New_Password" name="New_Password" data-mini="true" />
            </div>

            <div data-role="fieldcontain">
                <span class="required bold ui-label-a" style="width:15%">@MemberStrings.ConfirmPassword_Label</span>
                <input type="password" class="required margin stnTextInput ui-shadow-inset" style="width:25%" id="confirm_Password" name="confirm_Password" data-mini="true" />
            </div>

        </div>
        
<br clear="all" />
<br />
    
<div id="formSubmitDiv" class="formSection">
    <div class="leftSideSubmit">
        <div class="cancelDiv"><div class="lightButtonBorder"><input id="resetButton" type="reset" class="cancel" value="Cancel" onclick="cancelClick();" /></div></div>
        <div class="submitDiv"><div class="darkButtonBorder"><input type="submit" class="submit" value="Save" /></div></div>

        <asp:Button ID="SaveSiteButton" runat="server" Text="Save" />
    </div>
    
</div>
}

<script type="text/javascript">
    $().ready(function () {
        $('a#passwordButton').click(function () {
            $(this).toggleClass("show");

            if ($("a#passwordButton").hasClass("show")) {
                $("#PasswordList").css("visibility", "visible");
            }
            else {
                $("#PasswordList").css("visibility", "hidden");
            }
        });
    });
</script>