@* Comments:
04.19.13 - TR - Updated to show files sorted by type
12.17.12 - TR - Created 
*@

@*
/* Authors:
 *      Tonia Roddick (troddick@usgs.gov)
 * Copyright:
 *      2012 USGS - WiM
 * Purpose:
 *      Partial view containing File box (list of Files for an Objective Point) 
 */
 *@
 
 @using STNServices;
 @using STNWeb.Assets.Resources;

<div class="subSection softHeader">
	    <span class="boxTitle">Files</span>
        <br />
        
        @if (ViewData.ContainsKey("PhotoFiles"))
        {
            
            <div>Photo Files</div>@* PHOTO FILES *@
            <ul>
                @foreach (var aFile in ViewData["PhotoFiles"] as List<FILE>)
                {
                    if (aFile.PATH != null)
                    {
                        <li>
                            @Html.ActionLink(string.Format("{0}: ({1})", aFile.FILE_DATE != null ? ((DateTime)aFile.FILE_DATE).ToShortDateString() : "No Date", aFile.PATH), "FileDetails", "Files", new { id = aFile.FILE_ID }, new { onclick = "loading();" })
                        </li>
                    }
                    else if (aFile.FILE_URL != null)
                    {
                        <li>
                            @Html.ActionLink(string.Format("{0}: ({1})", aFile.FILE_DATE != null ? ((DateTime)aFile.FILE_DATE).ToShortDateString() : "No Date", aFile.FILE_URL), "FileDetails", "Files", new { id = aFile.FILE_ID }, new { onclick = "loading();" })
                        </li>
                    }
                    else
                    {
                        <li>
                            @Html.ActionLink(string.Format("{0}: ({1})", aFile.FILE_DATE != null ? ((DateTime)aFile.FILE_DATE).ToShortDateString() : "No Date", aFile.FILE_ID.ToString()), "FileDetails", "Files", new { id = aFile.FILE_ID }, new { onclick = "loading();" })
                        </li>
                    }
                }
                </ul>
                <div style="width:270px; height: 80px; overflow:scroll; overflow-y:hidden; margin-top: 15px; padding-bottom: 5px">
                    <span style="width:auto; white-space:nowrap">
                        @foreach (var aFile in ViewData["PhotoFiles"] as List<FILE>)
                        { 
                            <a href="@Url.Action("DownloadFile", "Files", new { id = aFile.FILE_ID })" target="_blank" title="@aFile.PATH"><img alt="" title="@(aFile.PATH), @(aFile.DESCRIPTION)" style="max-width:70px; margin:auto" src="@Url.Action("DownloadFile", "Files", new { id = aFile.FILE_ID })" /></a>
                        } 
                    </span>
                </div>
                <br clear="all" />
        }  
      
         @if (ViewData.ContainsKey("AllOtherFiles"))
         {
             
             <div>All Other Files</div>@* ALL OTHER FILES *@
               <ul>
                    @foreach (var aFile in ViewData["AllOtherFiles"] as List<FILE>)
                    {
                        if (aFile.PATH != null)
                        {
                            <li>
                                @Html.ActionLink(string.Format("{0}: ({1})", aFile.FILE_DATE != null ? ((DateTime)aFile.FILE_DATE).ToShortDateString() : "No Date", aFile.PATH), "FileDetails", "Files", new { id = aFile.FILE_ID }, new { onclick = "loading();" })
                            </li>
                        }
                        else if (aFile.FILE_URL != null)
                        {
                            <li>
                                @Html.ActionLink(string.Format("{0}: ({1})", aFile.FILE_DATE != null ? ((DateTime)aFile.FILE_DATE).ToShortDateString() : "No Date", aFile.FILE_URL), "FileDetails", "Files", new { id = aFile.FILE_ID }, new { onclick = "loading();" })
                            </li>
                        }
                        else
                        {
                            <li>
                                @Html.ActionLink(string.Format("{0}: ({1})", aFile.FILE_DATE != null ? ((DateTime)aFile.FILE_DATE).ToShortDateString() : "No Date", aFile.FILE_ID.ToString()), "FileDetails", "Files", new { id = aFile.FILE_ID }, new { onclick = "loading();" })
                            </li>
                        }
                    }
               </ul>
         }
            <br />
        <div>@Html.ActionLink("Upload new file", "FileCreate", "Files", new { Id = ViewData["OP_ID"], aPage = "OP" }, new { @class = "STNButton", onclick = "loading();" })</div>
	
    <br />
    </div>
   

<script type="text/javascript">
    function loading() {
        $("#loading").fadeIn();
    };
</script>
